@use '@angular/material' as mat;

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.cdk-overlay-dark-backdrop {
  backdrop-filter: blur(3px);
}

.cdk-global-scrollblock {
  overflow-y: hidden !important;
}

html {
  --tak-primary-100: rgb(120, 203, 211);
  --tak-primary-500: rgb(10, 161, 174);
  --tak-primary-700: rgb(8, 119, 129);
  --tak-primary-constrant-100: rgb(140, 238, 247);
  --tak-primary-constrant-500: rgb(14, 187, 202);
  --tak-primary-constrant-700: rgb(15, 163, 177);
  --tak-primary-opacity-100: rgb(120, 203, 211, 0.3);
  --tak-primary-opacity-500: rgb(10, 161, 174, 0.3);
  --tak-primary-opacity-700: rgb(8, 119, 129, 0.3);
  --tak-accent-100: rgb(30, 233, 148);
  --tak-accent-500: rgb(24, 182, 116);
  --tak-accent-700: rgb(29, 139, 110);
  --tak-accent-opacity-100: rgb(30, 233, 148, 0.3);
  --tak-accent-opacity-500: rgb(24, 182, 116, 0.3);
  --tak-accent-opacity-700: rgb(29, 139, 110, 0.3);
  --tak-accent-constrant-100: rgb(177, 243, 214);
  --tak-accent-constrant-500: rgb(70, 221, 158);
  --tak-accent-constrant-700: rgb(65, 185, 135);
  --tak-warn-100: rgb(255, 55, 55);
  --tak-warn-500: rgb(255, 0, 0);
  --tak-warn-700: rgb(168, 0, 0);
  --tak-warn-opacity-100: rgb(255, 55, 55, 0.3);
  --tak-warn-opacity-500: rgb(255, 0, 0, 0.3);
  --tak-warn-opacity-700: rgb(168, 0, 0, 0.3);
  --tak-warn-constrant-100: rgb(254, 191, 191);
  --tak-warn-constrant-500: rgb(255, 128, 128);
  --tak-warn-constrant-700: rgb(191, 96, 96);
}

$matTheme: mat.$cyan-palette;

$theme: mat.define-theme(
  (
    color: (
      primary: $matTheme,
      tertiary: mat.$green-palette,
    ),
  )
);

html {
  @include mat.theme(
    (
      color: $matTheme,
      density: 0,
    )
  );
}

[color='no-theme'] {
  @include mat.button-theme($theme: $theme, $color-variant: 'primary');
  @include mat.icon-button-theme($theme: $theme, $color-variant: 'primary');
  @include mat.fab-theme($theme: $theme, $color-variant: 'primary');
  color: black !important;
}

[color='primary'] {
  @include mat.button-theme($theme: $theme, $color-variant: 'primary');
  @include mat.icon-button-theme($theme: $theme, $color-variant: 'primary');
  @include mat.fab-theme($theme: $theme, $color-variant: 'primary');
}

[color='accent'] {
  @include mat.button-theme($theme: $theme, $color-variant: 'tertiary');
  @include mat.icon-button-theme($theme: $theme, $color-variant: 'tertiary');
  @include mat.fab-theme($theme: $theme, $color-variant: 'tertiary');
}

[color='warn'] {
  @include mat.button-theme($theme: $theme, $color-variant: 'error');
  @include mat.icon-button-theme($theme: $theme, $color-variant: 'error');
  @include mat.fab-theme($theme: $theme, $color-variant: 'error');
}

.tak-modal__content {
  padding: 10px 24px !important;
}

button[mat-icon-button],
button[matIconButton] {
  &[color='warn'] {
    color: #ef4444 !important;
    background: #fee2e2 !important;
  }
}

button[mat-icon-button],
button[matIconButton] {
  &[color='accent'] {
    color: #10b981 !important;
    background: #dcfce7 !important;
  }
}

button[mat-icon-button],
button[matIconButton] {
  &[color='primary'] {
    color: rgb(10, 161, 174) !important;
    background: rgb(224, 252, 255) !important;
  }
}

.tak-snackbar-success {
  .mat-mdc-button:not(:disabled) {
    font-weight: 600;
    color: #004646 !important;
  }
  .mat-mdc-snackbar-surface,
  .tak-snackbar-notification .mat-mdc-snack-bar-label .mdc-snackbar__label {
    font-weight: 600;
    color: rgb(39, 39, 39) !important;
    background-color: rgba(223, 246, 234, 0.925) !important;
  }
}

.tak-snackbar-danger {
  .mat-mdc-button:not(:disabled) {
    font-weight: 600;
    color: #fd2626 !important;
  }
  .mat-mdc-snackbar-surface,
  .tak-snackbar-notification .mat-mdc-snack-bar-label .mdc-snackbar__label {
    font-weight: 600;
    color: rgb(39, 39, 39) !important;
    background-color: rgba(255, 156, 156, 0.925) !important;
  }
}

.tak-snackbar-notification {
  .mat-mdc-button:not(:disabled) {
    font-weight: 600;
  }
  .mat-mdc-snackbar-surface,
  .tak-snackbar-notification .mat-mdc-snack-bar-label .mdc-snackbar__label {
    font-weight: 600;
    color: rgb(212, 212, 212) !important;
    background-color: rgba(27, 27, 27, 0.925) !important;
  }
}

.mat-mdc-form-field-focus-overlay {
  background-color: inherit !important;
}

@media (max-width: 850px) {
  .topbar-breadcrumbs {
    display: none !important;
  }
}
.mat-mdc-menu-content {
  background-color: white;
}
.admin-layout .route-list.route-list-open {
  overflow-y: auto;
  flex: 1;
  overflow-y: auto;
  padding: 12px 0;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: inherit !important;
}
.tak-custom-error {
  color: red;
}
tak-general-field.max-w-200px mat-form-field {
  max-width: 200px;
}
