.mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content {
  padding: 0 !important;
}
.tak-modal {
  [mat-button] {
    font-weight: bolder;
  }
  [mat-dialog-title] {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
  }
  &__content {
    padding: 0 24px;
    font-size: 14px;
    color: var(--mdc-dialog-subhead-color);
  }
  &__buttons {
    display: flex;
    & button {
      font-weight: bolder;
      text-transform: uppercase;
    }
    &.tak-modal-one {
      justify-content: end;
    }
    &.tak-modal-two {
      justify-content: space-between;
    }
  }
  .tak-dialog-content {
    padding: 0;
  }
}
