.tak-custom-checkbox {
  .mat-mdc-checkbox {
    line-height: 16px !important;
    margin-bottom: 4px !important;
  }
  .mdc-checkbox {
    padding: 4px !important;
    margin-top: -15px !important;
    margin-right: 2px !important;
  }
}
