.mat-mdc-form-field.mat-form-field-appearance-fill {
  .mat-mdc-text-field-wrapper {
    height: 48px !important;
  }
  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 30px !important;
  }
}

.mdc-notched-outline:not(.mdc-notched-outline--notched) {
  .mdc-notched-outline__leading,
  .mdc-notched-outline__trailing,
  .mdc-notched-outline__notch {
    border-color: rgb(182, 182, 182) !important;
  }
}
.mat-mdc-form-field-type-mat-select:not(.mat-focused) .mdc-notched-outline * {
  border-color: rgb(182, 182, 182) !important;
}

.mdc-text-field--filled,
.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

.tak {
  &-custom-error {
    color: var(--tak-form-field-error-color);
  }
  &-hint {
    color: var(--tak-form-field-hint-color);
  }
  &__date-not-input {
    input {
      display: none !important;
    }
    &__picker-container {
      margin-top: 5px;
    }
    &__field-container {
      margin-top: -18px;
      & .mat-mdc-form-field {
        visibility: hidden;
        width: 1px !important;
        font-size: 1px !important;
      }
    }
  }
  &-form-container {
    mat-form-field {
      width: calc(100% - 10px);
    }
    .mat-form-field-invalid {
      .mat-mdc-text-field-wrapper {
        .mat-mdc-floating-label
        /* .mat-mdc-form-field-icon-suffix,
        .mat-mdc-text-field,
        .mat-mdc-text-field__input,
        .mat-mdc-button-ripple */ {
          color: var(--tak-form-field-error-color) !important;
        }
        /* & .mat-mdc-form-field-flex .mat-mdc-datepicker-toggle .mat-icon-button {
          color: var(--tak-form-field-error-color) !important;
        } */
      }
      /* .mat-mdc-text-field--filled:not(.mat-mdc-text-field--disabled) {
        .mat-mdc-line-ripple::before,
        .mat-mdc-line-ripple::after,
        .mat-mdc-line-ripple:hover {
          border-bottom-color: var(--tak-form-field-error-color) !important;
        }
      } */
      .mat-mdc-input-element {
        color: var(--tak-form-field-error-color) !important;
      }
      .mdc-notched-outline {
        .mdc-notched-outline__leading,
        .mdc-notched-outline__trailing,
        .mdc-notched-outline__notch {
          border-color: var(--tak-form-field-error-color) !important;
        }
      }
      .mdc-notched-outline {
        .mat-mdc-notch-piece {
          &.mdc-notched-outline__leading {
            border-left: 1px solid var(--tak-form-field-error-color);
            border-top: 1px solid var(--tak-form-field-error-color);
            border-bottom: 1px solid var(--tak-form-field-error-color);
          }
          &.mdc-notched-outline__notch {
            border-bottom: 1px solid var(--tak-form-field-error-color);
          }
          &.mdc-notched-outline__trailing {
            border-bottom: 1px solid var(--tak-form-field-error-color);
            border-right: 1px solid var(--tak-form-field-error-color);
            border-top: 1px solid var(--tak-form-field-error-color);
          }
          & .mdc-floating-label--float-above {
            color: var(--tak-form-field-error-color);
          }
        }
        &:not(.mdc-notched-outline--notched) {
          .mat-mdc-notch-piece.mdc-notched-outline__notch {
            border-top: 1px solid var(--tak-form-field-error-color);
          }
        }
      }
      .tak-hint {
        color: var(--tak-form-field-error-color) !important;
      }
    }
    .money-input {
      font-weight: bolder !important;
    }
  }

  &-autocomplete-not-records {
    color: var(--tak-form-field-error-color);
  }
}
/* 
.mat-text-field--filled:not(.mat-text-field--disabled).mat-text-field--focused .mat-floating-label,
.mat-text-field--filled:not(.mat-text-field--disabled).mat-text-field--focused
  .mat-floating-label--float-above {
  .mat-form-field-required-marker,
  .tak-field__danger-x {
    color: var(--tak-form-field-error-color) !important;
  }
}

.tak__date-not-input__picker-container.mat-form-field-invalid
  .mat-datepicker-toggle
  .mat-icon-button {
  color: var(--tak-form-field-error-color) !important;
}
 */
